div {
    border: 3px solid rgb(132, 255, 75);
    background-color: rgba(255, 255, 241, 0.541);
  }
  body {
    background-color: rgba(248, 248, 177, 0.789);
  }
  span {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
  }
  h4 {
    color: rgb(100, 26, 111);
  }
  h3 {
    color: rgb(10, 10, 23);
  }
  h2 {
    color: rgb(111, 0, 139);
  }